
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
  background: linear-gradient(90deg, rgba(30,149,233,1) 0%, rgba(146,189,198,1) 100%);
}
