.prompt {
  text-align: center;
  transform: translate(0em, 23em);
}

form {
  display: flex;
  justify-content: center;
  transform: translate(6em, 26em);

  input {
    transform: translate(-7em, 3em);
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid gray;
  }
}

.city-label {
  margin-left: 2px;
  transform: translate(0em, 4em);
}

button {
  transform: translate(-24em, 10em);
}